@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300;1,400&display=swap');
body {
    background-color: #f1f1f1;
    font: normal 16px 'Roboto', sans-serif;
}
.img {
    border-radius: 50px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
    margin-left: 570px;
}
.quiz {
    border: 1px solid black;
    border-radius: 50px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
.btn {
    background: grey;
    padding: 15px 25px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
    border-radius: 20px;
}
.btn:hover {
    opacity: 0.8;
    text-decoration: underline;
}
#tWalkUser{
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color:black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}
.btn2 {
    background: lightsteelblue;
    padding: 15px 20px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
    border-radius: 20px;
}
.btn2:hover {
    opacity: 0.8;
}